<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619543938617-8a9bc69hvb9po7bq4s45hur5087jd35d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619543938617-8a9bc69hvb9po7bq4s45hur5087jd35d</string>
	<key>API_KEY</key>
	<string>AIzaSyDsQngpM-MJ8RTpAnJVnRi0cJSwjMQrcGk</string>
	<key>GCM_SENDER_ID</key>
	<string>619543938617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anamoly</string>
	<key>PROJECT_ID</key>
	<string>anamoly-99833</string>
	<key>STORAGE_BUCKET</key>
	<string>anamoly-99833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619543938617:ios:39f49c51bbb9ec7a3befe8</string>
</dict>
</plist>